
<div class="row col-md-6 mx-auto">
  <div class="alert alert-dismissible alert-info text-center" *ngIf="waitRes">
    <strong>Waiting ... </strong> <a class="alert-link">Waiting for a response from the server</a>
  </div>
  <div class="alert alert-dismissible alert-primary text-center" *ngIf="messageErrorPopup">
    <strong>Oh snap!</strong> <a  class="alert-link">Change a few things up</a> and try submitting again.
  </div>
  <div class="alert alert-dismissible alert-success text-center" *ngIf="messageSavePopup">
    <strong>Data save!</strong> <a  class="alert-link"> Information has been saved correctly</a> 
  </div>
</div>

<div class="row ">
<div class="col-md-6 mx-auto beerA_div">
    <img src="./assets/images/BackgroundBeer/BEER_BG_UpBanner.jpg" style="max-width:100%;width:auto;height:auto;">
  </div>
</div>

<div class="row ">
    <div class="col-md-6 mx-auto beerA_div">
        <div class="card-body text-center">
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" [(ngModel)]="selectedBeers[0]" (change)="onClickBeerImage($event.target.value)" >
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[0]" [imageName]="imageName[0]"></app-beer-card>
                  </div>
            </div>
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" (change)="onClickBeerImage($event.target.value)" [(ngModel)]="selectedBeers[1]">
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[1]" [imageName]="imageName[1]"></app-beer-card>
                  </div>
            </div>
          </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 mx-auto beerB_div">
        <div class="card-body text-center">
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" [(ngModel)]="selectedBeers[2]" (change)="onClickBeerImage($event.target.value)" >
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[2]" [imageName]="imageName[2]"></app-beer-card>
                  </div>
            </div>
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" (change)="onClickBeerImage($event.target.value)" [(ngModel)]="selectedBeers[3]">
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[3]" [imageName]="imageName[3]"></app-beer-card>
                  </div>
            </div>
          </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 mx-auto beerC_div">
        <div class="card-body text-center">
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" [(ngModel)]="selectedBeers[4]" (change)="onClickBeerImage($event.target.value)" >
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[4]" [imageName]="imageName[4]"></app-beer-card>
                  </div>
            </div>
            <div class="btn" data-container="body" data-toggle="popover">
                <div style="max-width: 15rem;">
                    <div class="form-group">
                        <select class="selector_color" (change)="onClickBeerImage($event.target.value)" [(ngModel)]="selectedBeers[5]">
                          <option *ngFor="let b of beersTotal">{{b.BeerName}}</option>
                        </select>
                      </div>
                      <app-beer-card [beerName]="selectedBeers[5]" [imageName]="imageName[5]"></app-beer-card>
                  </div>
            </div>
          </div>
    </div>
</div>

<div class="row ">
  <div class="col-md-6 mx-auto down_div">
      <div class="card-body text-center">
          <div class="btn" data-container="body" data-toggle="popover">
              <div>
                  <div class="form-group">
                      <select class="selector_color" [(ngModel)]="selectedBeerDown" (change)="onClickBeerDownImage($event.target.value)" >
                        <option *ngFor="let b of beersTotalDown">{{b.BeerName}}</option>
                      </select>
                    </div>
                    <app-beer-card-down [beerName]="selectedBeerDown" [imageName]="imageNameDown"></app-beer-card-down>
                </div>
          </div>
        </div>
  </div>
</div>

<div class="row ">
  <div class="col-md-6 mx-auto text-center footer_div" [ngStyle]="{'background-image':'url(' +imageNameBanner+ ')'}">
      <select class="selector_color" [(ngModel)]="selectedBanner" (change)="onClickBannerImage($event.target.value)" >
          <option *ngFor="let b of bannersTotal">{{b.Name}}</option>
      </select>
      <div class="card-body text-right">
        <div class="text-center" [ngStyle]="{'float': positionBanner}">
                <div class="form-group">
                  <input type="text" value="{{title}}" placeholder="Title" name="title" id="title" maxlength="50"
                  [(ngModel)]="title" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" value="{{finalText1}}" placeholder="Text" name="finalText1" id="finalText1" maxlength="50"
                    [(ngModel)]="finalText1" class="form-control">
                </div>

                <div class="form-group">
                  <input type="text" size="1" value=" $" disabled>.
                  <input type="text" id="priceInt" placeholder="99" (change)="onClickBeerPrice($event.target.value)"
                      required [(ngModel)]="priceInt" name="priceInt" size="10"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                      pattern="[0-9]*">.
                  <input type="text" id="priceFloat" size="10" placeholder="99" (change)="onClickBeerPrice($event.target.value)"
                      required [(ngModel)]="priceFloat" #dateYear="ngModel" name="priceFloat"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2"
                      pattern="[0-9][0-9]">
                    </div> 
              <br>
        </div>
          
      </div>
  </div>
</div>
<div class="row col-md-6 mx-auto">
    <div class="alert alert-dismissible alert-info text-center" *ngIf="waitRes">
      <strong>Waiting ... </strong> <a class="alert-link">Waiting for a response from the server</a>
    </div>
    <div class="alert alert-dismissible alert-primary text-center" *ngIf="messageErrorPopup">
      <strong>Oh snap!</strong> <a  class="alert-link">Change a few things up</a> and try submitting again.
    </div>
    <div class="alert alert-dismissible alert-success text-center" *ngIf="messageSavePopup">
      <strong>Data save!</strong> <a  class="alert-link"> Information has been saved correctly</a> 
    </div>
  </div>

<div class="row ">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card-body text-center">
      <button type="button" class="btn btn-primary btn-block bnt.lg" (click)="onSubmitData()">  SAVE   DATA  </button>
    </div>
  </div>
</div>

<div class="row col-md-6 mx-auto">
  <div class="alert alert-dismissible alert-info text-center" *ngIf="waitRes">
    <strong>Waiting ... </strong> <a class="alert-link">Waiting for a response from the server</a>
  </div>
  <div class="alert alert-dismissible alert-primary text-center" *ngIf="messageErrorPopup">
    <strong>Oh snap!</strong> <a  class="alert-link">Change a few things up</a> and try submitting again.
  </div>
  <div class="alert alert-dismissible alert-success text-center" *ngIf="messageSavePopup">
    <strong>Data save!</strong> <a  class="alert-link"> Information has been saved correctly</a> 
  </div>
</div>


